.handcursor {
    cursor: pointer;
}

#contentWrapperDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: 0px auto;
    text-align: left;
    padding: 5px;
    border: 1px #777;
    background-color: #FFFFFF;
}

.modalLoading {
    background: #000000;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 9996;
}

.modalLoadingIndicator {
    position: relative;
    background: #FFFFFF;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    z-index: 9999;
}

.rounded-corners {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

#formDiv, .formDiv {
    padding: 10px;
}

input.error {
    border: 1px solid red;
}

label.error {
    color: #FF6666;
    padding-left: 16px;
    margin-left: .3em;
}