<form id="loginForm" onsubmit="return false;" style="padding: 10px">
    <h3>Log In</h3>
    <div class="form-group">
        <label class="control-label has-error" for="login-username" style="display: none">Incorrect username and/or password. Please try again.</label>
        <input id="login-username" name="login-username" class="form-control input" type="text" required placeholder="Username"/>
    </div>
    <div class="form-group">
        <input id="login-password" name="login-password" class="form-control input" type="password" required placeholder="Password"/>
    </div>
    <div class="form-group">
        <button id="loginBtn" type="button" class="btn btn-primary" value="Log In">Log In</button>
    </div>
</form>